* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1040px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 120px;
  box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 0.75);
  z-index: 9;
}

.header__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-area {
  display: flex;
  align-items: center;
}

.header__logo-area-img {
  margin-right: 20px;
}

.header__logo-area-text {
  color: #31333e;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2.1px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-bottom: 100px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    overflow: scroll;
    z-index: -1;
    transition: all 0.3s ease-in;
  }
  .nav._active {
    opacity: 1;
    visibility: visible;
  }
}

.nav__list ul {
  display: flex;
}

@media (max-width: 992px) {
  .nav__list ul {
    height: 100vh;
    padding-top: 140px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.nav__item {
  margin-right: 48px;
  position: relative;
}

.nav__item::after {
  content: '|';
  color: #626262;
  position: absolute;
  top: 0;
  right: -22px;
}

@media (max-width: 992px) {
  .nav__item::after {
    content: '';
  }
}

.nav__item:last-child {
  margin: 0;
}

.nav__item:last-child::after {
  content: '';
}

@media (max-width: 992px) {
  .nav__item {
    margin-right: 0;
  }
}

.nav__link {
  color: #626262;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav__link._current {
  color: #00aeff;
}

.nav__link:hover {
  color: #00aeff;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .nav__link {
    font-size: 26px;
  }
}

.nav__form {
  margin-left: 64px;
  position: relative;
}

@media (max-width: 992px) {
  .nav__form {
    margin: 0;
  }
}

.nav__form-search {
  width: 130px;
  height: 30px;
  background-color: #f1f3f6;
  padding-left: 8px;
}

.nav__form-search::placeholder {
  color: #a3a3a3;
  font-size: 15px;
}

.nav__burger {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 992px) {
  .nav__burger {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.burger::before, .burger::after {
  transition: all 0.3s ease-in;
  content: '';
  background-color: #626262;
  width: 30px;
  height: 2px;
  position: absolute;
  left: 0;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  transition: all 0.3s ease-in;
  background-color: #626262;
  width: 30px;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
}

.burger._active::before, .burger._active::after {
  transition: all 0.3s ease-in;
  transform-origin: left;
}

.burger._active::before {
  transform: rotate(37deg);
}

.burger._active::after {
  transform: rotate(-37deg);
}

.burger._active span {
  transition: all 0.3s ease-in;
  opacity: 0;
}

.main {
  height: 670px;
  padding-top: 180px;
  background-color: #31333e;
}

@media (max-width: 670px) {
  .main {
    height: 640px;
  }
}

@media (max-width: 576px) {
  .main {
    height: 610px;
  }
}

@media (max-width: 390px) {
  .main {
    height: 590px;
  }
}

.main__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 82px;
}

@media (max-width: 992px) {
  .main__top {
    flex-direction: column;
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .main__top {
    margin-bottom: 72px;
  }
}

@media (max-width: 620px) {
  .main__top {
    margin-bottom: 82px;
  }
}

@media (max-width: 992px) {
  .main__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

.main__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__showcase-slider {
  display: flex;
  position: relative;
  padding: 0 30px;
}

.main__showcase-slider .slick-arrow {
  position: absolute;
  top: 15%;
  margin-top: -20px;
  z-index: 8;
  font-size: 0;
  width: 29px;
  height: 50px;
}

.main__showcase-slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/showcase-arrow-left.png") 0 0/100% no-repeat;
}

.main__showcase-slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/showcase-arrow-right.png") 0 0/100% no-repeat;
}

.main__showcase-slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__showcase-items {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.main__showcase-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #31333e;
  font-weight: 700;
  text-transform: uppercase;
}

.main__showcase-item-desktop {
  width: 70%;
  height: 100%;
  font-size: 45px;
  background: url("../img/desktop.png") center/contain no-repeat;
}

.main__showcase-item-desktop span {
  width: 270px;
  text-align: center;
  line-height: 60px;
}

.main__showcase-item-phone {
  height: 311px;
  background: url("../img/phone.png") 0 0/contain no-repeat;
  position: absolute;
  bottom: -40px;
  left: 16%;
  width: 100%;
}

.main__showcase-item-phone span {
  width: 95px;
  position: absolute;
  bottom: 140px;
  left: 6%;
  text-align: center;
}

@media (max-width: 992px) {
  .main__showcase-item-phone {
    height: 180px;
    bottom: 0;
  }
}

@media (max-width: 840px) {
  .main__showcase-item-phone {
    height: 150px;
    bottom: 32px;
    left: 14%;
  }
}

.more {
  padding: 100px 0 70px 0;
}

@media (max-width: 992px) {
  .more {
    padding: 130px 0 70px 0;
  }
}

.more__box {
  display: flex;
  justify-content: space-between;
  margin: -15px;
}

@media (max-width: 767px) {
  .more__box {
    flex-direction: column;
    margin: 0;
  }
}

.more__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

@media (max-width: 767px) {
  .more__item {
    margin: 0 30px 60px 30px;
  }
  .more__item:last-child {
    margin-bottom: 0;
  }
}

.more__head {
  margin-bottom: 20px;
}

.more__pic {
  width: 100px;
  height: 100px;
  margin-bottom: 28px;
}

@media (max-width: 767px) {
  .more__pic {
    margin-bottom: 14px;
  }
}

.more__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more__text {
  color: #2a2e39;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .more__text {
    margin-bottom: 15px;
  }
}

.more__link {
  color: #00aeff;
  font-weight: 700;
  text-transform: uppercase;
}

.more__link:hover {
  text-decoration: underline;
}

.works {
  padding: 55px 0 100px 0;
  background-color: #e2e7ed;
}

.works__head {
  margin-bottom: 32px;
}

.works__box {
  display: grid;
  height: 400px;
  grid-template: 1fr 1fr/repeat(4, 1fr);
}

@media (max-width: 767px) {
  .works__box {
    grid-template: repeat(4, 1fr)/1fr 1fr;
    height: auto;
  }
}

@media (max-width: 440px) {
  .works__box {
    grid-template: repeat(8, 1fr)/1fr;
    height: auto;
  }
}

.works__item {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.works__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works__item span {
  display: block;
  padding-top: 15px;
  padding-left: 20px;
  color: #fff;
  font-size: 15px;
  line-height: 26px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00aeff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out;
}

.works__item span._works-item-hovered {
  opacity: 1;
  visibility: visible;
}

.works__link-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out;
}

.works__link-container._works-item-hovered {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 992px) {
  .works__link-container {
    opacity: 1;
    visibility: visible;
  }
}

.works__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  .works__link {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.works__link-preview img {
  width: 35px;
  height: 25px;
  object-fit: fill;
}

.works__link-chain img {
  width: 20px;
  height: 26px;
  object-fit: fill;
}

.clients {
  padding: 36px 0 80px 0;
}

.clients__head {
  margin-bottom: 48px;
}

.clients__slider {
  display: flex;
  position: relative;
  padding: 0 60px;
}

.clients__slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 8;
  font-size: 0;
  width: 24px;
  height: 40px;
}

.clients__slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/clients/arrow-left.svg") 0 0/100% no-repeat;
}

.clients__slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/clients/arrow-right.svg") 0 0/100% no-repeat;
}

.clients__slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.see {
  margin-top: 120px;
  height: 110px;
  background-color: #e2e7ed;
}

@media (max-width: 530px) {
  .see {
    height: 240px;
  }
}

.see__box {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .see__box {
    padding: 0 15px;
    justify-content: center;
  }
}

.see__text {
  margin-right: 75px;
}

@media (max-width: 767px) {
  .see__text {
    display: none;
  }
}

.see__list {
  display: flex;
}

@media (max-width: 530px) {
  .see__list {
    flex-direction: column;
  }
}

.see__item {
  margin-right: 42px;
}

.see__item:last-child {
  margin-right: 0;
}

@media (max-width: 530px) {
  .see__item {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .see__item:last-child {
    margin-bottom: 0;
  }
}

.see__link {
  color: #626262;
  font-size: 15px;
}

.see__link:hover {
  color: #626262;
}

@media (max-width: 767px) {
  .see__link {
    font-size: 22px;
  }
}

.wsection {
  padding: 65px 0;
}

.wsection__head {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .wsection__head {
    margin-bottom: 20px;
    text-align: center;
  }
}

.wsection__box {
  display: flex;
  margin: 0 -20px;
}

@media (max-width: 767px) {
  .wsection__box {
    flex-direction: column;
  }
}

.wsection__item {
  flex-basis: 50%;
  margin: 0 20px;
  color: #000;
}

@media (max-width: 767px) {
  .wsection__item {
    flex-basis: 100%;
    margin: 20px 15px;
  }
  .wsection__item:last-child {
    margin-bottom: 0;
  }
}

.wsection__item-pic {
  height: 300px;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .wsection__item-pic {
    height: 250px;
  }
}

.wsection__item-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wsection__item-subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .wsection__item-subtitle {
    text-align: center;
  }
}

.wsection__item-text {
  font-size: 15px;
}

@media (max-width: 767px) {
  .wsection__item-text {
    text-align: center;
  }
}

.portfolio-popup {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.portfolio-popup__top {
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #31333e;
}

.portfolio-popup__title {
  margin-bottom: 15px;
}

.portfolio-popup__text {
  max-width: 690px;
  margin-bottom: 40px;
  line-height: 25.94px;
  text-align: center;
}

.portfolio-popup__pic img {
  width: 100%;
  object-fit: cover;
}

.touch {
  margin-top: 120px;
  height: 110px;
  background-color: #e2e7ed;
  color: #626262;
}

.touch__top {
  height: 100%;
  display: flex;
  align-items: center;
}

.contact {
  padding: 60px 0 90px 0;
}

.contact__box {
  display: flex;
  margin: 0 -15px;
}

.contact__form {
  flex-basis: 50%;
  margin: 0 15px;
}

.contact__location {
  flex-basis: 50%;
  margin: 0 15px;
}

.form {
  display: flex;
  flex-direction: column;
  color: #2a2e39;
}

.form__disclaimer {
  margin-bottom: 60px;
  font-size: 15px;
  line-height: 26px;
}

.form__label {
  font-size: 15px;
  margin-bottom: 20px;
}

.form__input {
  width: 420px;
  height: 40px;
  border: 1px solid rgba(0, 0, 1, 0.15);
  margin-bottom: 20px;
}

.form__input-area {
  width: 420px;
  height: 190px;
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 1, 0.15);
}

.footer {
  min-height: 210px;
  background-color: #31333e;
  color: #e2e7ed;
  font-size: 15px;
  padding-top: 45px;
}

@media (max-width: 992px) {
  .footer {
    padding-bottom: 45px;
  }
}

.footer__box {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  row-gap: 36px;
}

@media (max-width: 992px) {
  .footer__box {
    grid-template: repeat(3, 1fr)/1fr;
    justify-items: center;
    row-gap: 26px;
  }
}

@media (max-width: 520px) {
  .footer__box {
    grid-template: 1fr 50px 50px / 1fr;
  }
}

.footer__menu {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.footer__socials {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

@media (max-width: 992px) {
  .footer__socials {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}

.footer__disclaimer {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  font-size: 12px;
}

@media (max-width: 992px) {
  .footer__disclaimer {
    text-align: center;
  }
}

.menu__list {
  display: flex;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .menu__list {
    justify-content: center;
  }
}

@media (max-width: 520px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}

.menu__item {
  margin-right: 36px;
  position: relative;
}

.menu__item::after {
  content: '|';
  position: absolute;
  top: 0;
  right: -18px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__item:last-child::after {
  content: '';
}

@media (max-width: 520px) {
  .menu__item {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .menu__item::after {
    content: '';
  }
  .menu__item:last-child {
    margin-bottom: 26px;
  }
}

.menu__link {
  color: #e2e7ed;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .menu__copy {
    text-align: center;
  }
}

.socials__list {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .socials__list {
    justify-content: center;
  }
}

.socials__item {
  margin-left: 10px;
}

.socials__item:first-child {
  margin: 0;
}

.title {
  color: #fff;
  font-size: 45px;
  font-weight: 400;
}

.title_b {
  color: #000;
}

.title_d {
  color: #31333e;
}

@media (max-width: 767px) {
  .title {
    font-size: 35px;
  }
}

.text {
  font-size: 15px;
}

.stext {
  color: #626262;
  font-size: 45px;
}

.head {
  color: #626262;
  font-size: 30px;
}

.head_w {
  color: #fff;
}

.button {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  background-color: #00aeff;
  border: transparent;
  border-radius: 6px;
  width: 220px;
  height: 60px;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .button {
    font-size: 20px;
    width: 150px;
    height: 50px;
  }
}

.button:hover {
  transition: 0.3s;
  color: #00aeff;
  border: 1px solid #00aeff;
  background-color: #31333e;
}

.cm-bg-color-violet {
  background-color: #908ef3;
}

.cm-bg-color-green {
  background-color: #58d99c;
}

.cm-bg-color-pink {
  background-color: #f4776d;
}

.cm-bg-color-yellow {
  background-color: #edca52;
}
